<html>
  <head>
    <title>Angular Blog</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular.js"></script>
  </head>
  <body>
  <div class="container" ng-app=''>
    <div class="col-sm-6 form-group">
      <input type="text" ng-model="title" class="form-control">&nbsp
      <textarea ng-model="description" class="form-control"></textarea>&nbsp
      <div class="" style="border:1px solid #280000;">
        <h3>Title:<span ng-bind="title"></span></h3><br>
        <p>Description:<span ng-bind="description"></span></p>
      </div>
      <!-- ng-init directive: Initializes the application data. -->
      <div ng-init="players = [{name: 'Brandon Mac', matches: 190, average: 44}, {name: 'Taylor Nike',matches: 190, average: 49}, {name: 'Brandon Smith',matches: 180, average: 41}, {name: 'Ian Smith',matches: 290, average: 44}, {name: 'Ian Bothom',matches: 390, average: 39}, {name: 'Brandon Mac',matches: 190, average: 44},{name: 'Brandon Mac',matches: 190, average: 44},{name: 'Brandon Mac',matches: 100, average: 90},{name: 'Brandon Mac',matches: 190, average: 44} ]">
        <ol>
          <li ng-repeat='player in players'>
            {{'Name :' + player.name + ' has scored ' + player.average * player.matches + ' runs.'}}
          </li>
        </ol>
      </div>
    </div>
  </div>
  </body>
</html>