<html>
  <head>
    <title>AngularJs</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
  </head>
  <body style="padding-top:100px;">
    <div class="container" ng-app="mathApp">
      <div class="text-center" ng-controller="mathServiceController">
        You will be auto logged out in <span id="SecondsUntilExpire"></span> seconds.
        <div class="form-group col-md-6">
          <input type="text" ng-model="value1" class="form-control"/><br>
          <input type="text" ng-model="value2" class="form-control"/><br>
          <button ng-click="add()">SUM</button>
          <button ng-click="subtract()">SUBTRACT</button>
          <button ng-click="multiply()">MULTIPLY</button>
          <button ng-click="divide()">DIVIDE</button>
          <h4>{{result}}</h4>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var IDLE_TIMEOUT = 60; //seconds
      var _localStorageKey = 'global_countdown_last_reset_timestamp';
      var _idleSecondsTimer = null;
      var _lastResetTimeStamp = (new Date()).getTime();
      var _localStorage = null;

      AttachEvent(document, 'click', ResetTime);
      AttachEvent(document, 'mousemove', ResetTime);
      AttachEvent(document, 'keypress', ResetTime);
      AttachEvent(window, 'load', ResetTime);

      try {
          _localStorage = window.localStorage;
      }
      catch (ex) {
      }

      _idleSecondsTimer = window.setInterval(CheckIdleTime, 1000);

      function GetLastResetTimeStamp() {
        var lastResetTimeStamp = 0;
        if (_localStorage) {
            lastResetTimeStamp = parseInt(_localStorage[_localStorageKey], 10);
            if (isNaN(lastResetTimeStamp) || lastResetTimeStamp < 0)
                lastResetTimeStamp = (new Date()).getTime();
        } else {
            lastResetTimeStamp = _lastResetTimeStamp;
        }
           
        return lastResetTimeStamp;
      }

      function SetLastResetTimeStamp(timeStamp) {
        if (_localStorage) {
            _localStorage[_localStorageKey] = timeStamp;
        } else {
            _lastResetTimeStamp = timeStamp;
        }
      }

      function ResetTime() {
        SetLastResetTimeStamp((new Date()).getTime());
      }

function AttachEvent(element, eventName, eventHandler) {
    if (element.addEventListener) {
        element.addEventListener(eventName, eventHandler, false);
        return true;
    } else if (element.attachEvent) {
        element.attachEvent('on' + eventName, eventHandler);
        return true;
    } else {
        //nothing to do, browser too old or non standard anyway
        return false;
    }
}

function WriteProgress(msg) {
    var oPanel = document.getElementById("SecondsUntilExpire");
    if (oPanel)
         oPanel.innerHTML = msg;
    else if (console)
        console.log(msg);
}

function CheckIdleTime() {
    var currentTimeStamp = (new Date()).getTime();
    var lastResetTimeStamp = GetLastResetTimeStamp();
    var secondsDiff = Math.floor((currentTimeStamp - lastResetTimeStamp) / 1000);
    if (secondsDiff <= 0) {
        ResetTime();
        secondsDiff = 0;
    }
    WriteProgress((IDLE_TIMEOUT - secondsDiff) + "");
    if (secondsDiff >= IDLE_TIMEOUT) {
        window.clearInterval(_idleSecondsTimer);
        ResetTime();
        alert("Time expired!");
        document.location.href = "logout.html";
    }
}
    </script>
  </body>
</html>